<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BID" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

 <nav class="top-bar" data-topbar> 
      <ul class="title-area"> 
        <li class="name"> 
          <h1>
            <%= image_tag("logo.gif") %>
          </h1> 
        </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li> 
      </ul> 

      <section class="top-bar-section"> 
      <!-- Right Nav Section --> 
    
          <!-- Left Nav Section --> 
     
           <!-- Right Nav Section --> 
          <ul class="right"> 
            <li class="divider"> </li>
            <% if user_signed_in? %>
              <li class="active">
              	<%= link_to current_user.email %>
              </li>

              <li>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
              </li> 
      
            <% else %>

               <li class="active">
              	<%= link_to 'Register', new_user_registration_path %>
            	</li> 
          	 <li>
              	<%= link_to 'Sign In', new_user_session_path %>
            </li> 

            <% end %>
          </ul> 

      </section>
     </nav>


  <div class="row">
      <div class="columns large-12">
        <br>
        <% flash.each do |type, message| %>

        <div data-alert class="alert-box radius <%= flash_class type %> ">
          <%= message %>
          <a href="#" class="close">&times;</a>
        </div>

        <% end %>

         <ul class="button-group">
		    <li> <%= link_to 'Presentación', presentacion_index_path, class: "small button" %> </li>
		    <li> <%= link_to 'Equipo', equipo_index_path, class: "small button" %> </li>
		    <li> <%= link_to 'Investigación', investigacion_index_path, class: "small button" %> </li>
		    <li> <%= link_to 'Recursos', recursos_path, class: "small button" %> </li>
		    <li> <a href="#" class="small button" data-reveal-id="myModal"> Contacto </a></li> 
		    	
		    	<div id="myModal" class="reveal-modal" data-reveal> 
		    		<h2>DATOS DE CONTACTO DE LOS DIFERENTES PAISES</h2> 
		    			<p class="lead">datosssssssssssssssssssss</p> 
		    			<p>descxripviocdo cfjdl fldjf ldjf dsjg ldsg ldfsjg ldfl gjdfh gdfl</p>
		    			 <a class="close-reveal-modal">&#215;</a> 
		    		</div>
		    
  		</ul>

  
    <%= yield %>

</div>

    <%= javascript_include_tag "application" %>
  
  </body>

</html>